<section class="text-white body-font" id="fondo">
    <div class="container px-4 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 bg-gradient-to-b from-orange-500">
                <h2 class="text-sm title-font text-white tracking-widest">{{producto?.categoria }}</h2>
                <h1 class="text-white text-3xl title-font font-medium mb-4">{{ producto?.nombre?.substring(0,20)}} {{producto && producto.nombre[21] ? "..." : null }}, {{ producto?.marca}} {{producto && producto.marca[21] ? "..." : null }}</h1>
                <p class="leading-relaxed mb-4">{{producto?.descripcion}} marca {{producto?.marca}}</p>
                <div class="flex border-t border-gray-800 py-2">
                    <span class="text-gray-900">Precio Regular: </span>
                    <del class="ml-auto text-white"> Q.{{producto?.precio_regular ||  0}} </del>
                </div>
                <div class="flex border-t border-gray-800 py-2">
                    <span class="text-gray-900">Precio Venta: </span>
                    <span class="ml-auto text-white">Q.{{producto?.precio_venta || 0}}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-800 py-2">
                    <span class="text-gray-900">Descuento: </span>
                    <span class="ml-auto text-danger">{{producto ? ((producto.precio_regular - producto.precio_venta)/(producto.precio_regular) | percent) : null}}</span>
                </div>

                <div class="flex mb-4">
                    <button class="flex ml-2 text-white text-center bg-gradient-to-r from-indigo-400 to-pink-500 hover:from-pink-500 hover:to-yellow-500 border-0 py-2 px-4 focus:outline-none hover:bg-yellow-600 rounded">Comprar</button>
                    <button class="flex text-white text-center bg-gradient-to-r from-indigo-400 to-pink-500 hover:from-pink-500 hover:to-yellow-500 border-0 py-2 px-4 ml-6 focus:outline-none hover:bg-yellow-600 rounded">Carrito</button>
                    <button class="flex text-white text-center bg-gradient-to-r from-indigo-400 to-pink-500 hover:from-pink-500 hover:to-yellow-500 border-0 py-2 px-4 ml-6 focus:outline-none hover:bg-yellow-600 rounded" routerLink="/" ng-reflect-router-link="/" href="/">Regresar</button>
                    <button class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
            .
          </button>
                </div>
                <app-payment-card></app-payment-card>
            </div>

            <img alt="" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" [src]="currentImg" [alt]="producto?.nombre">
            <div class="lg:w-7/6 flex flex-wrap" *ngFor="let itemImg of producto?.imageUrl">
                <img alt="" class="lg:w-7/6 lg:h-24 h-12 object-cover object-center border-2 border-orange-500 hover:border-blue-600 rounded" [src]="itemImg" (click)="handleChangeImg(itemImg)">
            </div>

        </div>


    </div>
</section>
