<footer class="text-black bg-gradient-to-r from-orange-500 from-10% via-yellow-500 via-30% to-orange-500 to-90% body-font">
    <div class="container px-5 py-5 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">

                <img alt="logo" class="lg:w-3/4 lg:h-auto object-cover object-center" src="../../../assets/img/template/LOGO.png">

            </a>
        </div>
        <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">HERRAMIENTAS ELECTRICAS</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-900 hover:text-white">Esmeriladoras</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Rotomartillos</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Cepillos Electricos</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Compresores</a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">CARPINTERIA</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-900 hover:text-white">Brocas Router</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Formones</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Cola Blanca</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Barnices</a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">MEDICION</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-900 hover:text-white">Flexometros</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Cintas Metricas</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Metros Laser</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Niveles</a>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">SEGURIDAD</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-900 hover:text-white">Cascos</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Chalecos reflectivos</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Calzado</a>
                    </li>
                    <li>
                        <a class="text-gray-900 hover:text-white">Rodilleras</a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <div class="bg-gray-800 bg-opacity-75">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-400 text-sm text-center sm:text-left">© 2024 FERROMAT LA RUTA —
                <a href="https://www.facebook.com/ferromat.laruta?mibextid=ZbWKwL " class="text-gray-500 ml-1" rel="noopener noreferrer" target="_blank">FERROMAT "LA RUTA"</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-400" href="https://www.facebook.com/ferromat.laruta?mibextid=ZbWKwL ">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400" href="https://www.instagram.com/ferromatlaruta?igsh=MWRwMm5yYjkwcno1bw==">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
      </span>
        </div>
    </div>
</footer>
