<header class="text-gray-500 h-auto bg-gradient-to-br from-yellow-400 to-orange-500 body-font ">
    <div class="container mx-auto flex flex-wrap py-auto flex-col md:flex-row items-center">
        <a class="flex order-first lg:order-none lg:w-4/4 title-font font-medium items-center text-white lg:items-center lg:justify-center" routerLink="/" ng-reflect-router-link="/" href="/">
            <img alt="logo" class="lg:w-2/2 lg:h-24 object-cover object-center" src="../../../assets/img/template/FERROMAT.png">
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-black justify-center">
            <a class="mr-5 hover:text-white" routerLink="/" ng-reflect-router-link="/" href="/">TIENDA</a>
            <!-- <a class="mr-5 hover:text-white" routerLink="/categoria" ng-reflect-router-link="categoria" href="/categoria">CATEGORIAS</a> -->
            <a class="mr-5 hover:text-white" routerLink="/signin" ng-reflect-router-link="signin" href="/signin">ACCEDE</a>
            <a class="mr-5 hover:text-white" routerLink="/signup" ng-reflect-router-link="signup" href="/signup">REGISTRATE</a>
            <a class="mr-5 hover:text-white" routerLink="/ubicacion" ng-reflect-router-link="ubicacion" href="ubicacion">CONTACTANOS</a>
        </nav>
        <!-- <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" _msthidden="1">
      <font _mstmutation="1" _msttexthash="79859" _msthidden="1" _msthash="140">Button</font>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button> -->

    </div>
</header>
