<section class="text-gray-600 body-font" id="fondo">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <img alt="feature" class="object-cover object-center rounded-lg h-full w-full" src="../../../../assets/img/slider/horizontal/4.jpg">
            <h1 class="title-font font-medium text-3xl text-gray-900">¡Gracias por registrarte en nuestra tienda en línea!</h1>
            <p class="leading-relaxed text-gray-500">Nos complace tenerte con nosotros y esperamos que disfrutes de una experiencia de compra excepcional. Disfruta de exclusivos beneficios como acceso a ofertas especiales, seguimiento de pedidos en tiempo real</p>
        </div>
        <div class="lg:w-2/6 md:w-1/2 bg-gray-600 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 class="text-white text-lg font-medium title-font mb-5">REGISTRO</h2>
            <div class="relative mb-4">
                <label for="full-name" class="leading-7 text-sm text-white">Nombre Completo:</label>
                <input type="text" id="full-name" name="full-name" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="email" class="leading-7 text-sm text-white">Correo Electrónico:</label>
                <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="password" class="leading-7 text-sm text-white">Contraseña:</label>
                <input type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="confirmpassword" class="leading-7 text-sm text-white">Confirmar Contraseña:</label>
                <input type="confirmpassword" id="confirmpassword" name="confirmpassword" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="text-white bg-gradient-to-r from-indigo-400 to-pink-500 hover:from-pink-500 hover:to-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">REGISTRARSE</button>
            <p class="text-xs text-gray-400 mt-3">Al registrate, aceptas nuestros Términos de Servicio y Políticas de Privacidad</p>
        </div>
    </div>
</section>
